header {
    height: 75px;
    padding: 1rem;
    color: white;
    background: black;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}